@import 'variables';

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

.first-section {
    position: relative;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    color: $white-color;
    background-image: url("../../images/image-1.png");
    background-size: cover;

    .header-view {
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2fr 1fr 1fr;
        align-items: center;

        >div:nth-of-type(1) {
            height: 100%;
            align-content: end;
        }

        >div:nth-of-type(2) {
            height: 100%;
            align-content: center;
        }

        >div:nth-of-type(3) {
            height: 100%;
            align-content: start;
        }


        h1 {
            clear: $black-color;
            font-size: 48px;
            font-weight: bold;
            line-height: 50px;
            text-align: center;
            text-transform: uppercase;
        }

        p {
            clear: $black-color;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            font-weight: 200;
            letter-spacing: 6px;
        }

        .search-section {
            width: 580px;

            input[type=text] {
                background-color: $white-color;
                font-family: $font-family;
                font-weight: 200;
                width: 450px;
                height: 50px;
                border: none;
                text-align: center;
                margin: 0;
                padding: 0;
                float: left;
                text-transform: capitalize;
            }

            input[type=button] {
                font-family: $font-family-aleo;
                width: 130px;
                height: 50px;
                left: -130px;
                background-color: $navbar-color;
                color: $white-color;
                border: none;
                border: 3px solid $white-color;
                margin: 0;
                padding: 0;
                padding-right: 10px;
                float: left;
                text-transform: uppercase;

                &:hover {
                    background-color: $navbar-light-color;
                }

                &:focus {
                    background-color: $navbar-light-color;
                }
            }

            i {
                position: relative;
                right: 15px;
                top: -33px;
                font-size: 15px;
                float: right;
            }
        }

        .scroll-section {
            text-align: center;

            p {
                font-size: 14px;
                letter-spacing: 3px;
            }

            i {
                font-size: 10px;
            }
        }
    }
}

.navbar {
    height: 83px;
    width: 100%;
    background-color: $navbar-color;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    li {
        display: inline-block;
        padding-left: 20px;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: $white-color;

            &:hover {
                color: $black-color;
            }
        }
    }
}

.second-section {
    position: relative;
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-color;
    background-image: url("../../images/image-2.png");
    background-size: cover;

    .view {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 50px 0 50px;
        align-items: center;

        h1 {
            clear: $black-color;
            font-size: 36px;
            font-weight: bold;
            line-height: 50px;
            text-align: left;
            text-transform: capitalize;
            padding-bottom: 30px;
        }

        p {
            clear: $black-color;
            font-size: 16px;
            line-height: 26px;
            text-align: left;
            font-weight: 200;
            letter-spacing: 6px;
            padding-bottom: 30px;
        }

        .img-items {
            >img:nth-child(1) {
                position: relative;
            }

            >img:nth-child(2) {
                position: relative;
                right: -100px;
                top: 30px;
            }
        }

        input[type=button] {
            margin-top: 30px;
            padding: 20px 15px 20px 15px;
            font-family: $font-family-aleo;
            background-color: $navbar-color;
            color: $white-color;
            border: none;
            float: left;
            text-transform: uppercase;

            &:hover {
                background-color: $navbar-light-color;
            }

            &:focus {
                background-color: $navbar-light-color;
            }
        }
    }

}