@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

$font-family: "Josefin Sans", "Courier New", Courier, monospace;
$font-family-aleo: "Aleo", "Courier New", Courier, monospace;
$white-color: #FFFFFF;
$black-color: #000000;
$navbar-color: #5474FD;
$navbar-light-color: #8399fb;